/* Make page stretch at least 100vh to avoid whitespace below footer, 
code taken from https://forum.freecodecamp.org/t/footer-white-space-below/191360/4 */
body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1 0 auto; /* allows the content to grow but not shrink */
  }

/* add background image and change oppacity without affecting children
  code taken from: https://css-tricks.com/snippets/css/transparent-background-images/
*/
body::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../images/background.jpg');
    background-repeat: repeat;
    background-size: contain;
    opacity: .3;
    content: "";
    z-index: -1;
}

.game-container {
    height: 83vh;
}

.start-btn,
.my-btn, 
.restart-btn, 
.next-btn, 
.try-again-btn,
.modal-btn,
.return-btn {
    color: black;
    background-color: #dca7aa;
    border-color: #cc7d88;
}

.start-btn:hover,
.my-btn:hover,
.restart-btn:hover, 
.next-btn:hover, 
.try-again-btn:hover,
.modal-btn:hover,
.return-btn:hover {
    color: black;
    background-color: #e1be9e;
    border-color: #cc7d88;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

h1 img {
    width: calc(1.375rem + 1.5vw);
    height: calc(1.375rem + 1.5vw);
}

.image-container {
    width:30%;
    margin: 0 auto;
}

#difficulty{
    text-transform: uppercase;
}

#phrase {
    letter-spacing: 0.5rem;
}

footer {
    background-color: #dca7aa;
    border-top:1px solid #cc7d88;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: slategray;
}

#emailHelp {
    color: black;
}