/* add background image and change oppacity without affecting children
  code taken from: https://css-tricks.com/snippets/css/transparent-background-images/
*/

body {
    position: relative;
    height: 100vh;
}

body::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../images/background.jpg');
    background-repeat: repeat;
    background-size: contain;
    opacity: .3;
    content: "";
    z-index: -1;
}

.game-container {
    height: 83vh;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

h1 img {
    width: calc(1.375rem + 1.5vw);
    height: calc(1.375rem + 1.5vw);
}

.image-container {
    width: 40%;
    margin: 0 auto;
}

#difficulty{
    text-transform: uppercase;
}

#phrase {
    letter-spacing: 0.5rem;
}